/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/header-background.png);
  font-family: var(--main-font), sans-serif;
  font-variation-settings: var(--text-font-weight);
}

.dialog {
  position: fixed;
  background-color: var(--background);
  inset: 0;
  transition: opacity 0.3s ease-in-out;
  border: 2px solid var(--accent-color);
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.5);
}

.dialog-floppy {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

.dialog-text {
  font-family: var(--accent-font);
  color: var(--accent-color);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 21px;
}

.floppy-svg {
  inline-size: 39px;
  color: var(--accent-color);
}

.dialog-button {
  inline-size: 293px;
  block-size: 38px;
  margin-block-end: 14px;
  margin-inline-end: 30px;
  margin-inline-start: 30px;
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  color: var(--accent-color);
  background-color: transparent;
  border: none;
  outline: 2px solid var(--accent-color);
}

.header {
  inline-size: 700px;
  block-size: 368px;
  border: 2px solid var(--accent-color);
  background-color: var(--background);
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: var(--accent-font), sans-serif;
  text-transform: uppercase;
  padding-block-end: 25px;
  margin-block-start: 100px;
}

.header-title {
  color: var(--accent-color);
  font-size: 65px;
}

.header-title__bottom {
  color: var(--accent-color);
  font-size: 23px;
  margin-block-end: 5px;
}

.header__theme-menu .theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__button {
  position: relative;
  color: var(--accent-color);
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 14px;
}

.theme-menu__button:hover {
  opacity: 60%;
}

.theme-menu__button:disabled::before {
  content: "▶"; 
  position: absolute;
  inset-inline-start: -15px;
}

.card {
  inline-size: 696px;
  margin-block-start: 100px;
  background-color: var(--background);
  color: var(--accent-color);
  outline: 2px solid var(--accent-color);
}

.card-tittle__block {
  background-color: var(--background);
  outline: 2px solid var(--accent-color);
  padding: 5px 10px;
}

.card-tittle {
  font-size: 18px;
  font-weight: var(--title-font-weight);
  line-height: 21.78px;
}

.card-image__block {
  position: relative;
  block-size: 696px;
  outline: 2px solid var(--accent-color);
}

.card-image__block::after {
  content: "</HTML>";
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: 14px;
  -webkit-text-stroke: 1px #fff;
  opacity: 50%;
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 25px;
}

.card-image {
  width: 100%;
}

.card-text__block {
  display: flex;
  flex-direction: column;
  padding: 25px;
  outline: 2px solid var(--accent-color);
}

.card-text {
  font-size: 18px;
}

.card-text__add {
  margin-block-start: 27px;
}

.card__like-button {
  width: 169px;
  height: 38px;
  margin-block-start: 25px;
  font-family: var(--accent-font);
  font-weight: var(--title-font-weight);
  font-size: 14px;
  align-self: flex-end;
  background-color: transparent;
  border: 2px solid var(--accent-color);
}
